.user-button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.edit {
    color: #3490D6;
}

.delete {
    color: #FA1200;
}

.add {
    color: #6E8F73;
}