.sectionRow a {
    text-decoration: none;
    color: inherit;
}

.delete-button {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 200px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}